# {{ ansible_managed }}
# Apache configuration for RGM

ServerName {{ ansible_hostname }}

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteCond %{REQUEST_URI} !^/server-status
# Necessary in case of Let's Encrypt HTTP-01 ACME challenge
RewriteCond %{REQUEST_URI} !^/.well-known/acme-challenge
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

<Location "/server-status">
    SetHandler server-status
    Require host localhost 127.0.0.1
</Location>

# Necessary in case of Let's Encrypt HTTP-01 ACME challenge
Alias /.well-known/acme-challenge /var/www/html/.well-known/acme-challenge
<Directory /var/www/html/.well-known/acme-challenge>
    Options +Indexes
    Require all granted
</Directory>
