# {{ ansible_managed }}
# Apache configuration for RGM package distribution

Alias /distrib "{{ rgm_root_path }}/distrib"


<Directory "{{ rgm_root_path }}/distrib">
        Options +Indexes
        Require all granted
</Directory>
