# {{ ansible_managed }}
# Apache configuration for RGM API

Alias /rgmapi "/srv/rgm/rgmapi/html/api"


<Directory /srv/rgm/rgmapi/html/api>
        Options -Indexes
        Require all granted

        FallbackResource index.php
</Directory>