# {{ ansible_managed }}
# Apache configuration for Elasticsearch

ProxyPreserveHost On

<LocationMatch "/elasticsearch/(_shutdown|_cluster|_search|settings).*">
    AuthType Basic
    AuthName RGM-ES

    AuthrgmAuthoritative On
    AuthrgmMySQLSocket /var/lib/mysql/mysql.sock
    AuthrgmMySQLUsername rgminternal
    AuthrgmMySQLPassword 0rd0-c0m1735-b47h0n143
    AuthrgmMySQLDB rgmweb
    AuthrgmMySQLTableSID sessions,users,groupright
    AuthrgmMySQLFieldUID sessions.user_id
    AuthrgmMySQLTableSIDCondition "`sessions`.`session_id`=$session_id AND `sessions`.`user_id`=$user_id AND `users`.`user_id`=$user_id AND `users`.`user_name`=$user_name AND `users`.`group_id`=$group_id AND `groupright`.`group_id`=$group_id"
    AuthrgmPageLogin /login.php
    AuthrgmSessionCookies On
    require valid-user
</LocationMatch>

<Location /elasticsearch>
    # RedirectMatch 403 (_shutdown|_cluster|_search|settings)
    ProxyPass http://127.0.0.1:9200
    ProxyPassReverse http://127.0.0.1:9200
</Location>


