# {{ ansible_managed }}
# Apache configuration for Kibana

ProxyPreserveHost On
<Location /kibana>
        AuthType Basic
        AuthName "Restricted"
        AuthrgmAuthoritative On
        AuthrgmMySQLSocket /var/lib/mysql/mysql.sock
        AuthrgmMySQLUsername {{ mariadb_user }}
        AuthrgmMySQLPassword {{ mariadb_pwd }}
        AuthrgmMySQLDB {{ db_rgmweb }}
        AuthrgmMySQLTableSID sessions,users,groupright
        AuthrgmMySQLFieldUID sessions.user_id
        AuthrgmMySQLTableSIDCondition "`sessions`.`session_id`=$session_id AND `sessions`.`user_id`=$user_id AND `users`.`user_id`=$user_id AND `users`.`user_name`=$user_name AND (`users`.`group_id`=$group_id AND `groupright`.`group_id`=$group_id AND `groupright`.`tab_7`='1' OR `users`.`user_limitation`='1')"
        AuthrgmPageLogin /login.php
        AuthrgmSessionCookies On
        Require valid-user
        ProxyPass http://127.0.0.1:5601/kibana retry=0
        ProxyPassReverse http://127.0.0.1:5601/kibana/(.*)
</Location>
