# {{ ansible_managed }}
# Apache configuration for RGM

ServerName {{ ansible_hostname }}

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteCond %{REQUEST_URI} !^/server-status
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]