# {{ ansible_managed }}
# Apache configuration for RGM package distribution

Alias /rgma "{{ rgm_root_path }}/rgma/html"


<Directory "{{ rgm_root_path }}/rgma/html">

        AuthType Basic
        AuthName "Restricted"
        AuthrgmAuthoritative On
        AuthrgmMySQLSocket /var/lib/mysql/mysql.sock
        AuthrgmMySQLUsername {{ mariadb_user }}
        AuthrgmMySQLPassword {{ mariadb_pwd }}
        AuthrgmMySQLDB {{ db_rgmweb }}
        AuthrgmMySQLTableSID sessions,users,groupright
        AuthrgmMySQLFieldUID sessions.user_id
        AuthrgmMySQLTableSIDCondition "`sessions`.`session_id`=$session_id AND `sessions`.`user_id`=$user_id AND `users`.`user_id`=$user_id AND `users`.`user_name`=$user_name AND (`users`.`group_id`=$group_id AND `groupright`.`group_id`=$group_id OR `users`.`user_limitation`='1')"
        AuthrgmPageLogin /login.php
        AuthrgmSessionCookies On
        Require host localhost 127.0.0.1
        Require valid-user

        Options +Indexes
        Require valid-user

</Directory>
