---
# {{ ansible_managed }}
# vim: expandtab ts=2 sw=2:

actions:
  1:
    action: close
    description: >-
      close beats indices older than {{ curator.close_indices_delay }} days
    options:
      delete_aliases: False
      ignore_empty_list: True
    filters:
    - filtertype: pattern
      kind: regex
      value: '^[a-z]+beat-.*'
    - filtertype: age
      direction: older
      source: name
      timestring: '%Y.%m.%d'
      unit: days
      unit_count: {{ curator.close_indices_delay }}

  2:
    action: delete_indices
    description: >-
      permanently delete beats indices older than {{ curator.delete_indices_delay }} days
    options:
      ignore_empty_list: True
    filters:
    - filtertype: pattern
      kind: regex
      value: '^[a-z]+beat-.*'
    - filtertype: age
      direction: older
      source: name
      timestring: '%Y.%m.%d'
      unit: days
      unit_count: {{ curator.delete_indices_delay }}
