---
# {{ ansible_managed }}
# vim: expandtab ts=2 sw=2:
{% set count = 0 %}
{% for pattern in curator_patterns %}
actions:
{% set count = count + 1 %}  {{ count }}:
    action: close
    description: >-
      close beats indices older than {{ curator.close_indices_delay }} days
    options:
      delete_aliases: False
      ignore_empty_list: True
    filters:
    - filtertype: pattern
      kind: regex
      value: '{{ pattern }}'
    - filtertype: age
      direction: older
      source: name
      timestring: '%Y.%m.%d'
      unit: days
      unit_count: {{ curator.close_indices_delay }}

{% set count = count + 1 %}  {{ count }}:
    action: delete_indices
    description: >-
      permanently delete beats indices older than {{ curator.delete_indices_delay }} days
    options:
      ignore_empty_list: True
    filters:
    - filtertype: pattern
      kind: regex
      value: '{{ pattern }}'
    - filtertype: age
      direction: older
      source: name
      timestring: '%Y.%m.%d'
      unit: days
      unit_count: {{ curator.delete_indices_delay }}

{% endfor %}