# {{ ansible_managed }}
#
# Module: kibana
# Docs: https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-module-kibana.html

- module: kibana
  #metricsets:
  #  - status
  period: {{ metricbeat_polling_period }}
  hosts: ["localhost:5601"]
  basepath: "/kibana"
  #username: "user"
  #password: "secret"
