-- {{ ansible_managed }}
-- This script creates the nagflux datasource into Grafana DB
-- if it doesn't already exists.
-- This is /normally/ automatically applied throught Ansible
-- So you should'd have to manually play it.
--
-- 2019-03-27 - Eric Belhomme <ebelhomme@fr.scc.com>

INSERT INTO `data_source`
SELECT
	1,
	1,
	7,
	'influxdb',
	'nagflux',
	'proxy',
	'http://localhost:8086',
	'{{ mariadb_pwd }}',
	'{{ mariadb_user }}',
	'nagflux',
	0,
	'{{ mariadb_user }}',
	'{{ mariadb_pwd }}',
	1,
	'[]}',
	'2019-04-01 00:00:00',
	'2019-04-01 00:00:00',
	0,
	'{}',
	0
FROM DUAL WHERE NOT EXISTS (SELECT id FROM `data_source` WHERE id=1);
