# {{ ansible_managed }}
# https://grafana.com/docs/grafana/latest/administration/provisioning/#dashboards

apiVersion: 1

providers:
- name: 'default'
  orgId: 1
  folder: 'RGM-dashboards'
  type: file
  disableDeletion: false
  updateIntervalSeconds: 120 #how often Grafana will scan for changed dashboards
  options:
    path: "{{ grafana_rgm_dashboards }}"