# {{ ansible_managed }}
#
# RGM sudoers

{{ rgmweb_user }} ALL=NOPASSWD:\
    /bin/systemctl * snmptt,\
    /bin/systemctl * snmptrapd,\
    /bin/systemctl * snmpd,\
    /bin/systemctl * nagios,\
    /bin/systemctl * gedd,\
    /bin/systemctl * elasticsearch,\
    /bin/systemctl * grafana-server,\
    /bin/systemctl * prometheus,\
    /bin/systemctl * influxdb,\
    /bin/systemctl * metricbeat,\
    /bin/systemctl * kibana,\
    /bin/systemctl * nagflux

