# Module: apache
# Docs: https://www.elastic.co/guide/en/beats/filebeat/7.3/filebeat-module-apache.html

- module: apache
  # Access logs
  access:
    enabled: true
    var.paths:
      - /var/log/httpd/access_log
      - /var/log/httpd/ssl_access_log

  # Error logs
  error:
    enabled: true
    var.paths:
      - /var/log/httpd/error_log
      - /var/log/httpd/ssl_error_log
