<!DOCTYPE html>
<html>

	<head>
		<title>RGM</title>

		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="RGM">
		<meta name="author" content="RGM Team">

		<link rel="icon" type="image/png" href="/images/favicon.png">

		<!-- Bootstrap Core CSS -->
		<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css"
			rel="stylesheet">
		<!-- MetisMenu CSS -->
		<link href="/bower_components/metisMenu/dist/metisMenu.min.css"
			rel="stylesheet">
		<!-- DataTables CSS -->
		<link
			href="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css"
			rel="stylesheet">
		<!-- DataTables Responsive CSS -->
		<link
			href="/bower_components/datatables-responsive/css/dataTables.responsive.css"
			rel="stylesheet">
		<!-- Custom CSS -->
		<link
			href="/bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css"
			rel="stylesheet">
		<!-- Custom Fonts -->
		<link href="/bower_components/font-awesome/css/font-awesome.min.css"
			rel="stylesheet" type="text/css">
		<!-- jQuery CSS -->
		<link href="/bower_components/jquery-ui/themes/base/jquery-ui.min.css"
			rel="stylesheet">
		<!-- DateRangePicker CSS -->
		<link href="/bower_components/bootstrap-daterangepicker/daterangepicker.css"
			rel="stylesheet">
		<!-- BootstrapSelect CSS -->
		<link
			href="/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css"
			rel="stylesheet">

		<!-- EonWeb Custom CSS -->
		<link href="/css/eonweb.css" rel="stylesheet">

	</head>

	<body>

		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Beats installation on targets hosts</h1>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					Configuration LDAP </div>
				<div class="panel-body">
					<div class="row">
						<label class="col-md-3">MetricBeat installation on Windows</label>
						<div class="col-md-9">
							<label>
								Powershell -executionPolicy bypass -command "& {Invoke-Expression
								$($(Invoke-WebRequest
								http://scm.budcca-demo.lab/gaugey/Powershell_Scripts/raw/master/MeatricBeat/install-MetricBeat.ps1).Content)}
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>