# Module: system
# Docs: https://www.elastic.co/guide/en/beats/metricbeat/7.3/metricbeat-module-system.html
- module: system
  period: {{ d_metric_sys_core_period }}
  metricsets:
    - cpu
    - memory
    - network
    - process
    - process_summary
    - socket_summary
    - diskio
  processes: ['.*']
  process.include_top_n.enabled: false

- module: windows
  period: {{ d_metric_sys_core_period }}
  metricsets:
    - service
    - perfmon
  perfmon.counters:
    - instance_label: system.processor_queue_length
      instance_name: system.name
      measurement_label: system.processor_queue_length
      query: '\Système\Longueur de la file du processeur'
    - instance_label: network_interface.name
      instance_name: network_interface.name
      measurement_label: network_interface.output_queue_length
      query: '\Interface Réseau(*)\Longueur de la file d’attente de sortie'
    - instance_label: physical_disk.name
      instance_name: physical_disk.name
      measurement_label: physical_disk.average_queue_length
      query: '\Disque Physique(*)\Longueur moyenne de file d’attente du disque'
    - instance_label: logical_disk.name
      instance_name: logical_disk.name
      measurement_label: logical_disk.average_queue_length
      query: '\Disque Logique(*)\Longueur moyenne de file d’attente du disque' 