# Module: system
# Docs: https://www.elastic.co/guide/en/beats/metricbeat/7.3/metricbeat-module-system.html
- module: system
  period: {{ d_metric_sys_core_period }}
  metricsets:
    - cpu
    - memory
    - network
    - process
    - process_summary
    - socket_summary
    - diskio
  processes: ['.*']
  process.include_top_n.enabled: false

- module: windows
  metricsets: ["service"]
  enabled: true
  period: {{ d_metric_sys_core_period }}

- module: windows
  metricsets: [perfmon]
  period: {{ d_metric_sys_core_period }}
  perfmon.ignore_non_existent_counters: false
  perfmon.group_measurements_by_instance: false
  perfmon.queries:
  - object: "System"
    field: system.name
    counters:
    - name: "Processor Queue Length"
      field: "system.processor_queue_length"
      format: "float"
  - object: "PhysicalDisk"
    field : "physical_disk.name"
    instance: "*"
    counters:
    - name: "Avg. Disk Queue Length"
      field: "physical_disk.average_queue_length"
      format: "float"
  - object: "LogicalDisk"
    field: "logical_disk.name"
    instance: "*"
    counters:
    - name: "Avg. Disk Queue Length"
      field: "logical_disk.average_queue_length"
      format: "float"
  - object: "Network Interface"
    field: "network_interface.name"
    instance: "*"
    counters:
    - name: "Output Queue Length"
      field: "network_interface.output_queue_length"
      format: "float"
