INFLUX_EXPORTER_INFLUX_EXPORTER_ARGS=

# Url to InfluxDB
#INFLUX_URL=http://localhost:8086

# Username for InfluxDB
#INFLUX_USER=

# Password for InfluxDB
#INFLUX_PASSWORD=

# Skip HTTPS certificate verification	false
#INFLUX_EXPORTER_ARGS="${INFLUX_EXPORTER_ARGS} --ssl.skip-verify"

# Log level for console output
#INFLUX_EXPORTER_ARGS="${INFLUX_EXPORTER_ARGS} --log.level info"

# Address on which to expose metrics
#INFLUX_EXPORTER_ARGS="${INFLUX_EXPORTER_ARGS} --web.listen-address :9424"

# Path under which the metrics are available
#INFLUX_EXPORTER_ARGS="${INFLUX_EXPORTER_ARGS} --web.metrics-path /metrics"
